body{font-family:'Satisfy', cursive;
text-align: center;
font-size: 1rem;}
header{font-family: 'Allura', cursive;
font-size: 1.5rem;
text-align: center;;
width: 100%;
}
header>img{width: 27rem;}
nav{background-color: #275218;}
.logo{margin-top: 2rem;}
a{color: white;
margin-left: 1rem;
margin-right: 1rem;
justify-content: space-between;
}
.beer{width: 30rem;}
.country{width: 35rem;}
.our-story{background-color: bisque;}
.menu{background-color: bisque;}
.contact-us{background-color: bisque;}
@media (min-width:700px) {header{font-size: 1.5rem;
    text-align: center;
    width: 100%;
    }
    a{justify-content: space-evenly;
    margin-left: 4rem;
    margin-right: 4rem;
    }
    .logo{margin-top: 2rem;
    width: 40rem;
    }
    .country{width: 50rem;}
    .beer{width: 50rem;}
}

