body{
    margin: 0;
    background-color: coral;
    overflow: hidden;
}
.dot{
    background-color: white;
    position: absolute;
    top:50%;
    left:0;
    height:5rem;
    width:5rem;
    border-radius:2.5rem;
    animation-name:move;
    animation-duration:5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
@keyframes move{
from{left: 10;}
to{left: 100%;}
}