body{background-image: url(images/mushroom\ pattern.jpg);
background-size: 500px;
background-position: 600px;
background-position: 900px;
background-repeat: round;
color:antiquewhite;}
header{color: antiquewhite;
background-color: brown;
text-align: center;}
main{background-color: brown;}