body{background-image: url(images/mushroom\ pattern.jpg);
background-size: 500px;
background-position: 600px;
background-position: 900px;
background-repeat:repeat;
color:antiquewhite;}
header{color: antiquewhite;
background-color: brown;
text-align: center;}
a{color: antiquewhite;}
a:hover{ color: goldenrod;}
a:active{color: green;}
main{background-color: brown;
text-align: center;
font-size: large;}